@{
    ViewBag.Title = "Add New Company";
}

<div class="card card-default col-md-12">
    <div class="card-header">
        Registration
        @ViewBag.Message
    </div>
    <div class="card-body">
        @using (Html.BeginForm("RegistrationForm", "CompanyRegistration", FormMethod.Post, new { @id = "example-form" }))
        {
            @Html.AntiForgeryToken()

            <div>
                <h4>
                    User Profile
                    <br>
                    <small>Enter User Details</small>
                </h4>
                <fieldset>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="userName">User name *</label>
                            <input class="form-control required" id="UserName" name="UserName" type="text">
                        </div>
                        <div class="col-md-4">
                            <label for="password">Password *</label>
                            <input class="form-control required" id="Password" name="Password" type="password">
                        </div>
                        <div class="col-md-4">
                            <label for="confirm">Confirm Password *</label>
                            <input class="form-control required" id="CPassword" name="CPassword" type="password">
                        </div>
                    </div>
                    <p>(*) Mandatory</p>
                </fieldset>
                <h4>
                    Personal Profile
                    <br>
                    <small>Enter Focal Person Details</small>
                </h4>
                <fieldset>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="name">Employee name *</label>
                            <input class="form-control required" id="EName" name="EName" type="text">
                        </div>
                        <div class="col-md-4">
                            <label for="surname">Contact № *</label>
                            <input class="form-control required" id="EContactNo" name="EContactNo" type="text">
                        </div>
                        <div class="col-md-4">
                            <label for="email">Email *</label>
                            <input class="form-control required" id="EEmail" name="EEmail" type="text">
                        </div>
                        <div class="col-md-4">
                            <label>CNIC</label>
                            <input class="form-control required" id="ECNIC" name="ECNIC" type="text">
                        </div>
                        <div class="col-md-4">
                            <label>Designation</label>
                            <input class="form-control required" id="EDesignation" name="EDesignation" type="text">
                        </div>
                        <div class="col-md-4">
                            <label>Basic Salary</label>
                            <input class="form-control required" id="EMonthlySalary" name="EMonthlySalary" type="number">
                        </div>
                        <div class="col-md-12">
                            <label>Address</label>
                            <input class="form-control required" id="EAddress" name="EAddress" type="text">
                        </div>
                    </div>
                    <p>(*) Mandatory</p>
                </fieldset>
                <h4>
                    Company Profile
                    <br>
                    <small>Enter Company Details</small>
                </h4>
                <fieldset>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="name">Company *</label>
                            <input for="name" class="form-control required" id="CName" name="CName" type="text">
                        </div>
                        <div class="col-md-6">
                            <label>Branch Title *</label>
                            <input class="form-control required" id="BranchName" name="BranchName">
                        </div>
                        <div class="col-md-6">
                            <label>Branch Contact *</label>
                            <input class="form-control required" id="BranchContact" name="BranchContact" type="text">
                        </div>
                        <div class="col-md-6">
                            <label>Branch Address</label>
                            <input class="form-control required" id="BranchAddress" name="BranchAddress" type="text">
                        </div>
                    </div>
                    <p>(*) Mandatory</p>
                </fieldset>
                <h4>
                    Finish
                    <br>
                    <small>Please Check Before Submission</small>
                </h4>
                <fieldset>
                    <p class="lead">One last check</p>
                    <input type="submit" value="Submit Registration" class="btn btn-outline-success" />
                </fieldset>
            </div>
        }
    </div>
</div>
