@model Domain.Models.UserType

@{
    ViewBag.Title = Localization.CloudERP.Account.UserTypeDetails.ToString();
}

<div class="form-horizontal">
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.LabelFor(model => model.UserTypeName, Localization.CloudERP.Account.UserType.ToString(), htmlAttributes: new { @class = "control-label col-md-2" })
            </dt>

            <dd class="control-label col-md-2">
                @Html.DisplayFor(model => model.UserTypeName)
            </dd>
        </dl>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink(Localization.CloudERP.Common.Edit.ToString(), "Edit", new { id = Model.UserTypeID }, new { @class = "btn btn-primary" })
            @Html.ActionLink(Localization.CloudERP.Common.BackToList.ToString(), "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>